*{
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar{
  width: 9px;
  background-color: #050604;
}

::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: #A99155;
}
.footer-visible {
  display: block;
}

.footer-hidden {
  display: none;
}
.symbol-visible {
  display: block;
}

.symbol-hidden {
  display: none;
}